/*
 * Globals
 */

a,
a:focus,
a:hover {
  color: #df8235;
}

.btn {
  border-radius: 0.2rem;
  border-style: outset;
  box-shadow: none;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: #f8f8f8;
  background-color: #888;
  border: .05rem solid #888;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #f8f8f8;
  background-color: #df8235;
  border-color: transparent;
}

.btn-secondary {
  color: #df8235;
  background-color: transparent;
  border: .05rem solid #df8235;
}

/* .btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #555;
  background-color: transparent;
  border-color: #555;
} */

.btn-action {
  color: #f8f8f8;
  background-color: #df8235;
  border: .05rem solid #df8235;
  outline: none;
}

.btn-action-secondary {
  color: #f8f8f8;
  background-color: #888;
  border: .05rem solid #888;
}

.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action:not(:disabled):not(.disabled).active, 
.btn-action:not(:disabled):not(.disabled):active,
.btn-action-secondary:hover,
.btn-action-secondary:focus,
.btn-action-secondary:active,
.btn-action-secondary:not(:disabled):not(.disabled).active, 
.btn-action-secondary:not(:disabled):not(.disabled):active {
  color: #f8f8f8;
  background-color: #555;;
  border-color: #555;
  outline: none;
}

 
 .btn-lg {
   padding: 0.5rem 2rem;
   font-weight: 400;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 300;
 }
 
 
 /*
  * Base structure
  */
 
html,
body {
  height: 100%;
  background-color: #f7f5f2;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #555;
}

.cover-container {
  max-width: 48em;
}


 
 /*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.masthead-brand {
  float: left;
}

.nav-masthead {
  float: right;
}

.nav-link {
  padding: .25rem 0;
  background-color: transparent;
  border-bottom: .15rem solid transparent;
  font-size: 1.15rem;
  font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: #df8235;
}

.nav-link + .nav-link,
.nav-icon + .nav-icon {
  margin-left: 1.5rem;
}

.nav-link.active,
.nav-link.active:hover,
.nav-link.active:focus {
  color: #555;
  border-bottom-color: #555;
}

/*
 * Modal
 */
.modal-content {
  border-radius: .2rem;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  margin-top: 2rem;
  border-top: 0;
}