/*
 * Main Content
 */

.cover {
  padding: 1rem;
}

@media (max-width: 508px) {
  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }
}

/*
 * Footer
 */
footer {
  padding-top: 4rem;
  font-size: 0.8rem;
}