/*
 * Globals/Override defaults
 */

 a:hover,
 a:active {
   color: #cc7621;
 }
 
 a.nav-link:hover,
 a.nav-link:active {
   background: #f0e5db;
   color: #e89e54;
 }
 
 a.nav-link {
   padding: 0.5em 1.5em;
   margin: 0.5em;
   font-size: 1em;
 }
 
 a.navbar-brand,
 a.navbar-brand:hover,
 a.navbar-brand:focus,
 a.navbar-brand:active {
   color: #cc7621;
   background: none;
   font-weight: 700;
   font-size: 1em;
 }
 
 a.nav-icon:hover,
 a.nav-icon:active {
   background: none;
   color: #cc7621;
 }
 
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.5em 2em;
}

a.btn-secondary,
a.btn-secondary {
   color: #e89e54;
   border-color: #e89e54;
}

a.btn-danger,
.btn-danger {
  color: #ffffff;
}

a.btn-secondary:hover,
a.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #f5f5f5;
  background: #eeb780;
}

a.btn-secondary:active,
a.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #f5f5f5;
  background: #e89e54;
}

a.btn-danger:hover,
a.btn-danger:focus,
a.btn-danger:active,
a.btn-danger:not(:disabled):not(.disabled).active, 
a.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:not(:disabled):not(.disabled).active, 
.btn-danger:not(:disabled):not(.disabled):active {
  color: #e89e54;
  background: #f0e5db;
}

.text-info {
  font-size: 1.15rem;
}

.text-warning {
  color: #aaaaaa !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #3f3f3f;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.2em;
}

button {
  outline: none;
}
/*
   * Base structure
   */

html,
body {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 12pt;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
main {
  width: 70%;
}

header {
  margin: 0 auto;
}

/* Nav */

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
}

.nav-full {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-icons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.nav-icons > .nav-icon {
  margin: 0 0.5em;
  line-height: 2em;
  font-size: 1.25em;
}

nav .dropdown-toggle:after {
  display: inline-block;
  margin-left: .5em;
  vertical-align: 0.1em;
  content: "";
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-bottom: 0;
  border-left: .4em solid transparent;
}

.nav-collapsible,
.navbar-toggler {
  display: none;
}

.nav-collapsible {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 100;
  box-shadow: 0 0 4px 0 #3f3f3f55;
}

.nav-collapsible > .nav-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-toggler {
  border: 0;
  outline: 0;
  padding: 0.5em 1em;
}

.navbar-toggle-icon {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28232, 158, 84, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.dropdown-list {
  margin-left: 1.8em;
}

/* Common custom elements */

.lead {
  margin-left: 2em;
}

.lead h1,
.lead h2,
.lead h3,
.lead h4 {
  margin-top: 1em;
}

.lead .btn {
  margin: 1.5em 0 0;
}


.email-link {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 2em;
  padding: 0 2em;
  margin: auto;
  text-align: center;
}

footer > div:first-child {
  width: 100%;
  text-align: center;
}

footer .text-info {
  font-size: 0.8rem;
}

footer .el-credit {
  font-size: 0.8rem;
  color: #d0d0d0;
  position: absolute;
  right: 2em;
  bottom: 1em;
  vertical-align: middle;
}

@media screen and (min-width: 910px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }    
}

@media screen and (min-height: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}


@media screen and (max-width: 1200px) {
  header,
  main {
    width: 90%;
  }

  .text-info {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 910px) {
  main {
    width: 90%;
  }

  main {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  footer {
    font-size: 0.5em;
  }

  header {
    width: 100%;
  }
  
  h1,
  h2 {
    font-size: 1.2em;
  }

  .navbar-toggler {
    display: inline-block;
  }
  .nav-collapsible {
    display: block;
    
    
  }
  .nav-collapsible .nav-top {
    padding: 0.25em 0;
    border-bottom: 1px solid #eeb780;
  }

  .nav-full {
    display: none;
  }

  .nav-collapsible .navbar-brand {
    margin: 0;
    padding-left: 1em;
  }

  .nav-collapsible a.nav-link:not(.navbar-brand) {
    margin: 0;
    padding-left: 2.2em;
  }

  #nav-collapse,
  #nav-collapse .dropdown-list {
      display: none;
  }

  .text-info {
    font-size: 0.8em;
  }
  .lead {
    margin-left: 0;
  }

  footer {
    height: 6em;
  }

  footer .el-credit {
    display: block;
    position: relative;
    margin-top: 1.2em;
    text-align: center;
    right: 0;
  }  
}

@media screen and (min-width: 1900px) {
  html,
  body {
    font-size: 16pt;
    font-weight: 400;
  }
  nav a.nav-link,
  nav a.navbar-brand {
    font-size: 1.2em;
  }
  nav .nav-icons > .nav-icon {
    line-height: 2.5em;
    font-size: 2em;
  }

  nav {
    height: 6em;
  }

}