/*
 * Main Content
 */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

main img {
  max-height: 300px;
}



 /* .cover {
    padding: 1rem;
  }
  
  @media (max-width: 508px) {
    .btn {
      width: 100%;
      margin-bottom: 1rem;
    }
  } */