main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}

main img {
  max-height: 300px;
}

main img.img-icon {
  max-width: 300px;
  display: none;
}

.el-small-screen-desc {
  display: none;
}

.lead.alt-layout {
  text-align: right;
}

@media screen and (max-width: 720px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  main img.img-main {
    display: none;
  }
  main img.img-icon {
    display: block;
  }

  main .el-default-desc {
    display: none;
  }
  main .el-small-screen-desc {
    display: block;
  }

  .lead.alt-layout {
    text-align: center;
  }
  
}