main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main h1 {
    margin: 1.25em 0;
}

.el-thumbnails {
    margin: 2em 0;
}

.el-thumbnails > * {
    cursor: pointer;
}

.el-thumbnails img + .el-hover-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #3f3f3fdd;
}

.el-thumbnails img + .el-hover-overlay > * {
    margin-top: calc(50% - 3em);
}